body{
	background-color: #339989;
}

.navbar{
	z-index: 10;
}

#navbarNavAltMarkup{
	justify-content: flex-end;
}

#gibranharahap{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;

	color: #FFFAFB;
}

#about{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	color: #FFFAFB;
}

#rem{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	color: #FFFAFB;
}

#schedule{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;

	color: #FFFAFB;
}

#gif{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}


#foto{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	width: 90%;
}

#reminder{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	width: 75%;
}

#quotes{
	margin-top: 165vh;
	margin-left: 10vw;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	line-height: 50px;
	
	color: #FFFAFB;
}

#hello{
	margin-top: 15vh;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	text-align: center;

	color: #FFFAFB;
}

#desc{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;

	color: #FFFAFB;
}

#reminds{
	margin-top: 40vh;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	text-align: center;

	color: #FFFAFB;
}

#my{
	margin-top: 13vh;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	
	color: #FFFAFB;
}

#sched{
	margin-top: 5vh;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	
	color: #FFFAFB;
}
	
#add{
	margin-top: 13vh;
	
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	
	color: #FFFAFB;
}

form{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	
	color: #FFFAFB;
}

#button{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	
	color: #FFFAFB;
}

.blue{
	margin-top: 60vh;
	
	height: 20vh;
	text-align: center;
	
	background-color: #7DE2D1;
}

#email{
	width: 60%;
	margin-top: 7vh;
}

#twitter{
	width: 60%;
	margin-top: 7vh;
}

#linkedin{
	width: 60%;
	margin-top: 7vh;
}

#spotify{
	width: 60%;
	margin-top: 7vh;
}

#instagram{
	width: 60%;
	margin-top: 7vh;
}

@media (max-width: 767.98px){ 
	#quotes{
		margin-top: 40vh;
		font-size: 12px;
		line-height: 20px;
	}
	#hello{
		margin-top: 5vh;
		font-size: 40px;
	}
	#desc{
		font-size: 15px;
		line-height: 18px;
	}
	#reminds{
		margin-top: 10vh;
		font-size: 15px;
}	
	#gibranharahap{
		font-size: 20px;
	}
	#about{
		font-size: 13px;
	}
	#rem{
		font-size: 13px;
	}
	#schedule{
		font-size: 13px;
	}
	#my{
		font-size: 20px;
	}

	#sched{
		font-size: 13px;
	}
		
	#add{
		font-size: 20px;
	}

	form{
		font-size: 13px;
	}

	#button{
		font-size: 13px;
	}
	.blue{
		margin-top: 26vh;
		height: 10vh;
	}
	#email{
		width: 80%;
		margin-top: 4vh;
	}

	#twitter{
		width: 80%;
		margin-top: 4vh;
	}

	#linkedin{
		width: 80%;
		margin-top: 4vh;
	}

	#spotify{
		width: 80%;
		margin-top: 4vh;
	}

	#instagram{
		width: 80%;
		margin-top: 4vh;
	}
}