<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type=text/css href="{% static 'css/websites.css' %}"/>
    <title>schedule</title>
  </head>
  <body class="body">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-dark">
					<a class="navbar-brand" id="gibranharahap" href="{% url 'homepage:gibranharahap' %}">gibranharahap</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link" id="about" href="{% url 'homepage:about' %}">about</a>
							<a class="nav-item nav-link" id="rem" href="{% url 'homepage:reminder' %}">????</a>
							<a class="nav-item nav-link" id="schedule" href="{% url 'homepage:schedule' %}">schedule</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p id="my">my schedules</p>
			</div>
		</div>
		<div class="row">
			<div style="text-align:center" class="col">
				<a id="sched" href="{% url 'homepage:addschedule' %}">add schedule</a>
				<a id="sched" href="{% url 'homepage:resetAll' %}">reset</a>
			</div>
		</div>
		<div class="row">
			{% for schedule in schedules %}
				<div style="text-align:center" class="col">
					<p id="sched">{{ schedule.activity }}<br>
					   {{ schedule.description }}<br>
                       {{ schedule.date.date }}<br>
                       {{ schedule.time }}<br>
                       {{ schedule.place }}<br>
                       {{ schedule.category }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="row blue">
			<div class="col col-sm"></div>
			<div class="col col-sm-1">
				<a href="mailto:gibranharahap@gmail.com">
					<img id="email" src="{% static 'images/email.png' %}" class="img-fluid" alt="email"></a>
			</div>
			<div class="col col-sm-1">
				<a href="https://twitter.com/gibranharahap">
					<img id="twitter" src="{% static 'images/twitter.png' %}" class="img-fluid" alt="twitter"></a>
			</div>
			<div class="col col-sm-1">
				<a href="https://www.linkedin.com/in/gibranharahap" >
					<img id="linkedin" src="{% static 'images/linkedin.png' %}" class="img-fluid" alt="linkedin"></a>
			</div>
			<div class="col col-sm-1">
				<a href="https://open.spotify.com/user/gibranharahap8?si=WqA3pPyQRgqX1yCX1G7e7A">
					<img id="spotify" src="{% static 'images/spotify.png' %}" class="img-fluid" alt="spotify"></a>
			</div>
			<div class="col col-sm-1">
				<a href="https://www.instagram.com/gibranharahap">
					<img id="instagram" src="{% static 'images/instagram.png' %}" class="img-fluid" alt="instagram"></a>
			</div>
			<div class="col col-sm"></div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>